@import url('https://fonts.googleapis.com/css?family=Niramit');
@import url('https://fonts.googleapis.com/css?family=PT+Serif');

header {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}

nav {
    background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
}

aside {
    background-color: #FFC675;
    border: 1px black solid;
    padding: 20px;
}

article {
    background-color: #E89C6C;
    border: 1px black solid;
    padding: 20px;
}

footer { 
    background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;

}

div {
    background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;

}

section {
    background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}

h1 { 
  font-family: 'PT Serif', serif; 
  font-weight: left;
  text-transform: uppercase;
  text-align: center; 
}

body {
    margin: 65px;
    padding: 25px;
    text-align: left; 
    background-color: rgb(240,239,255);
    background-size: cover; 
  	color: #000;
  	font-family: 'Niramit', sans-serif;
}

 #tagline {
 	font-weight: bold;  
 	text-transform: none;
 }

p { 
    font-size: 22px;
    line-height: 1.5em;
    margin: 2em;
    background-color: rgb(240,239,255);
    text-align: left; 
    background-size: cover; 
  	color: #000;
  	font-family: 'Niramit', sans-serif;
}