body {
    background-color: rgba(20,133,204,.8) ;
    text-align: center; 
    background-size: cover; 
  	color: #fff;
  	font-family: palatino header;

}
 #tagline {
 	font-weight: bold; 
 	text-transform: italics;
 }

h1 { 
	font-family: palatino body; 
	font-size:30px;
	font-weight: bold;

}

p { 
  font-size: 22px;
   background-color: rgba(20,133,204,.8) ;
    text-align: left; 
    background-size: cover; 
  	color: #fff;
  	font-family: palatino header;
}
